{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="//code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "{% static 'main/css/main.css' %}">
    <link rel = "stylesheet" href = "{% static 'main/css/lightbox.css' %}">
</head>
<body>

    <div class ="page">
        <header class = "header">
            <a href="{% url 'home' %}"><img src="{% static "main/img/logo.png" %}" height="128" alt=""></a>
            <span class = "logo">Музей УГТУ</span>
            <a class = "headerln" href = "{% url 'news' %}">Новости</a>
            <a class = "headerln" href = "{% url 'gallery' %}">Галерея</a>
            <a class = "headerln" href = "{% url 'events' %}">События</a>
            <a class = "headerln" href = "{% url 'excursion' %}">3D Экскурсия</a>
            <a class = "headerln" href = "{% url 'about' %}">О музее</a>
            <a class ="headerln" href = "https://vk.com/club195372451" target = "_blank" ><img src = "{% static "main/img/vk.svg" %}" height="32"></a>
        </header>
        <main class = "main">
                {% block content %}
                {% endblock %}
        </main>
        <footer class = "footer">
            <div class="footer-contacts">
            <p class="footer-text">Контакты:</p>
            <p class="footer-text">E-mail: avrocheva@ugtu.net</p>
            <p class="footer-text">Телефон: +7 (8216) 77-45-89</p>
            </div>
            <p class="copyright">ФГБОУ ВО УГТУ ©2023  Все права защищены.<br>
                                Копирование материалов сайта возможно только<br>
                                с письменного разрешения администрации.
            </p>

            <div id="cookie_notification">
                <p>Для улучшения работы сайта и его взаимодействия с пользователями мы используем файлы cookie. Продолжая работу с сайтом, Вы разрешаете использование cookie-файлов. Вы всегда можете отключить файлы cookie в настройках Вашего браузера.</p>
                <button class="button cookie_accept">Хорошо</button>
                <script src="../../static/main/js/cookie.js"></script>
            </div>

        </footer>
    </div>

</body>
</html>
